/**
  CONTENTS

  SETTINGS
  Global...............Globally-available variables and config.

  TOOLS
  Mixins...............Useful mixins.
  */
 
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkgrey;
}

a {
  text-decoration: none;
  color: black;
}

#title_block{
  background: #fffbe4;
}
