colors {
  color: #383D3B;
  color: #EEE5E9;
  color: #7C7C7C;
  color: #92DCE5;
  color: #52DEE5;
}



.main-display {
  position: relative;
  width: 84%;
  height: 99%;
  float: left;
}

#report-selection {
  width:  14%;
  height: 99.5%;
  float: left;
}
#report-display {
  width: 84%;
  height: calc(97% - 50px);
  float: left;
  overflow-y: hidden;
}
#filter-bar {
  width: 84%;
  height: 50px;
  float: left;
}

.report-button input:hover {
  background-color: #383D3B;
  color: #EEE5E9;
}
.description {
  width:500px;
}
.quantity {
  width: 100px;
  padding-right: 25px;
}
.times-purchased {
  width: 100px;
  padding-right: 25px;
}
.purchase-price {
  padding-right: 700px;
}


#filter-bar-form {
  width: 100%;
  float: left;
}
#filter-bar-form input {
  width: 200px;
}
#submit {
  float: right;
}

.budgeted-amount-cost {
  width: 65px;
  padding-right: 25px;
}
.budgeted-amount-quantity {
  width: 65px;
  padding-right: 25px;
}
.budgeted-amount-total {
  width: 100px;
  padding-right: 800px;
}

.item-button {
  width: 100%;
  border: none;
  padding: inherit;
  padding-left: 5px;
  text-align: left;
  margin: inherit;  
  background-color: transparent;
  font-family: inherit;
  font-size: medium;
}

.main-info:nth-child(4n-3) {  
  background-color: #EEE5E970;
}

.main-info:hover {
  background-color: #383D3B80;
  color: #EEE5E9;
}
.po-table {
  border: none;
}

#main-data {
  height: 96.5%;
  overflow-y: scroll;
}
#totals-row {
  height: 5%;
}

#filter-bar-form input {
  margin-top: .5%;
  margin-left: 2px;
}

#total-quantity {
  padding-right: 122px;
}

#total-total {
  padding-right: 817px;
  width: 100px;
}





/* Pop up Class Structure */
.rental-details-popup {
  visibility: hidden;
  background-color: rgba(0,0,0,.80);
  border: #383D3B 2px inset;
  border-radius: 5px;
  box-shadow: 10px 10px 8px rgba(0,0,0,.70);
  padding: 10px;
  color: #EEE5E9;
}
.popup-content {
  visibility: hidden;
}

.rental-details-popup.active {
  visibility: visible;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%;
  height: 40%;
  margin: 0 auto;
}
.popup-content.active {
  visibility: visible;
}

.close {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0px 2px;
}

/* Popup Form Input Positioning */
#id-input-div {
  position: absolute;
  top: 10px;
  right: 10px;
}
#id-input {
  width: 10ch;
  margin: auto;
}
#id-label {
  width: unset;
}

#notes-label {
  float: left;
}
#notes-input {
  float: left;
  width: 100%;
  height: 5ch;
}

label {
  width: 50%;
  min-width: auto;
  float: left;
  text-align: left;
}

#po-input-div {
  margin-top: 50px;
}